body {
  margin: 20px;
  background-color: #000;
}

p {
  margin: 0;
}

.box {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e75551;
}

.box__color--first {
  width: 350px;
  margin-bottom: 40px;
  background-color: #2c8ec2;
}

.box__color--second {
  background-color: #ffa600;
}

.box__color--third {
  background-color: #dedede;
}
