body {
  margin: 20px;
  background-color: #000;
}

p {
  margin: 0;
}

.box__first,
.box__second,
.box__third {
  border: 1px solid #e75551;
}

.box__first {
  width: 328px;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #2c8ec2;
}

.box__second {
  padding: 10px;
  background-color: #ffa600;
}

.box__third {
  padding: 10px;
  background-color: #dedede;
}
